Test/
Assembler/__pycache__/
Assembler/code.asm
Quartus/db/
Quartus/incremental_db/
Quartus/simulation/
Quartus/output_files/*
Quartus/greybox_tmp/
!Quartus/output_files/output_file.jic
!Quartus/output_files/FPGC5.sof
Programmer/verify.bin
Quartus/*/*.bak
Quartus/*/*/*.bak
Quartus/.qsys_edit/
Documentation/site/
Verilog/output/output
Verilog/output/*.vcd
Verilog/output/*.ppm
**/ __pycache__/
**/*.pyc
Quartus/*.ipregen.rpt
BCC/*.tmp
BCC/*.out
BCC/bcc